<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="gateway" value="http://a8.to/LotteryResult.ashx"/>
    <add key="debug" value="true"/>
    <!-- 北京快乐8 -->
    <add key="opencai.BJKL8" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=bjkl8" />
    <!-- 重庆时时彩 -->
    <add key="opencai.ChungKing" value="http://a.apiplus.net/newly.do?token=cc45e81680204f77&amp;code=cqssc" />
    <add key="cpk.ChungKing" value="http://api.caipiaokong.com/lottery/?name=cqssc&amp;format=xml&amp;uid=319767&amp;token=00c50b376ba27be1373d286dbaf874a656e3f6e6" />
    <!-- 天津时时彩 -->
    <add key="opencai.Tianjin" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=tjssc"/>
    <!-- 新加坡快乐彩 -->
    <add key="opencai.SGKeno" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=sgkeno" />
    <!-- 韩国1.5分 -->
    <add key="opencai.KRKeno" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=krkeno" />
    <!-- 吉林快三 -->
    <add key="opencai.JLK3" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=jlk3" />
    <!-- 江苏11选5 -->
    <add key="opencai.JS11x5" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=js11x5" />
    <!-- 山东11选5 -->
    <add key="opencai.SD11x5" value="http://a.apiplus.net/newly.do?token=29a443dceb0dba06&amp;code=sd11x5" />
    <!-- 北京PK10 -->
    <add key="cpk.PK10" value="http://api.caipiaokong.com/lottery/?name=bjpks&amp;format=xml&amp;uid=319767&amp;token=00c50b376ba27be1373d286dbaf874a656e3f6e6" />
    <add key="opencai.PK10" value="http://a.apiplus.net/newly.do?token=cc45e81680204f77&amp;code=bjpk10" />
    <!-- 台湾宾果 -->
    <add key="opencai.TWBingo" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=twbingo" />
    <!-- 加拿大3.5分 -->
    <add key="opencai.CAKeno" value="http://c.apiplus.net/newly.do?token=aa2cb184f7b79ab6&amp;code=cakeno"/>
    <!-- 东京1.5分 -->
    <add key="opencai.Japan15" value="http://a.apiplus.net/newly.do?token=aa2cb184f7b79ab6&amp;code=jpkeno"/>
    <!-- 幸运飞艇 -->
    <add key="opencai.Boat" value="http://a.apiplus.net/newly.do?token=cc45e81680204f77&amp;code=mlaft"/>


    <!-- 贵州11选5 -->
    <add key="opencai.GZ11x5" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=gz11x5"/>
    <!-- 贵州快三 -->
    <add key="opencai.GZK3" value="http://b.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=gzk3"/>


    <!-- 美国强力球45秒 -->
    <add key="opencai.USBall45" value="http://a.apiplus.net/daily.do?token=aa2cb184f7b79ab6&amp;code=uspball45&amp;date=2017-09-21"/>
    <!-- 美国强力球1.5分 -->
    <add key="opencai.USBall15" value="http://a.apiplus.net/daily.do?token=aa2cb184f7b79ab6&amp;code=uspball90&amp;date=2017-09-21"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=(local);uid=uBetWin;pwd=CNY1000000;database=BetWin 2.0;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
