<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
        <!--<rewrite>
            <rules>
                <rule name="Handler" stopProcessing="true">
                    <match url="^Handler/.*" />
                    <action type="Rewrite" url="http://43.225.157.37/{R:0}" />
                </rule>
            </rules>
        </rewrite>-->    
  </system.webServer>
</configuration>