html { height: 100%; background: #000 url(../images/background.jpg) no-repeat center center; background-size: cover; }
* { font-family: 'Microsoft YaHei'; }
.container { width: 505px; margin: auto; padding-top: 50px; }
.logo { display: block; height: 100px; background: url(../images/logo.png) no-repeat center center; background-size: contain; }
.box { height: auto; background: rgba(20,30,40,0.5); border: 1px solid #201139; border-radius: 6px; margin: 30px; box-shadow: 0px 0px 30px #000; }
    .box p { height: 82px; display: block; padding-left: 115px; position: relative; border-bottom: 1px solid #201139; }
        .box p i { position: absolute; width: 32px; height: 32px; left: 40px; top: 50%; margin-top: -16px; background: no-repeat center center; }
            .box p i.user { background-image: url(../images/reg-ico-user.png); }
            .box p i.pass { background-image: url(../images/reg-ico-pass.png); }
            .box p i.qq { background-image: url(../images/reg-ico-qq.png); }
            .box p i.mobile { background-image: url(../images/reg-ico-mobile.png); }
            .box p i.mail { background-image: url(../images/reg-ico-mail.png); }
    .box .txt { border: none; background-color: transparent; margin-top: 10px; width: 275px; height: 55px; line-height: 55px; font-size: 18px; color: #8a7bb2; vertical-align: middle; outline: none; }
.btn { border: none; width: 438px; height: 65px; background: url(../images/reg-submit.png) no-repeat; display: block; margin: auto; line-height: 65px; vertical-align: middle; text-align: center; font-size: 20px; color: #e8c6ff; }
    .btn:hover { background-position: left -65px; }

.iframe { overflow: hidden; }
    .iframe .logo { display: none; }
