<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 采集地址 -->
    <add key="gateway" value="http://183.2.242.53:6/xxl.txt?${RANDOM}" />
    <!-- 密钥 -->
    <add key="host" value="1014F5E" />
    <!-- 彩种 新西兰45秒：Second45   俄罗斯：Tokyo15 -->
    <add key="type" value="Second45" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
