<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="gateway" value="http://a8.to/LotteryResult.ashx"/>
    <add key="debug" value="false"/>
    <add key="game" value="VRVenus,VRMars,VR3,VRRacing,VRBoat"/>
    <!-- 官方彩种时时彩 -->
    <!-- 北京快乐8 -->
    <add key="opencai.BJKL8" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=bjkl8"/>
    <!-- 重庆时时彩 -->
    <add key="opencai.ChungKing" value="http://a.apiplus.net/newly.do?token=cc45e81680204f77&amp;code=cqssc"/>
    <!-- 台湾宾果 -->
    <add key="opencai.TWBingo" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=twbingo"/>
    <!-- 新疆时时彩 -->
    <add key="opencai.Sinkiang" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=xjssc"/>

    <!-- 私彩系列 -->
    <!-- 韩国1.5分 -->

    <!-- 东京1.5分 -->
    <add key="opencai.Japan15" value="http://a.apiplus.net/newly.do?token=aa2cb184f7b79ab6&amp;code=jpkeno"/>
    <add key="cpk.Japan15" value="http://api.kaijiangtong.com/lottery/?name=xdjklb&amp;format=xml&amp;uid=713561&amp;token=bd26bcd908e1a390f112a7326c916021a31e5617"/>

    <!-- 快三系列 -->
    <!-- 吉林快三 -->

    <!-- 江苏快三 -->
    <add key="opencai.JSK3" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=jsk3"/>
    <!-- 安徽快三 -->
    <add key="opencai.AHK3" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=ahk3"/>
    <!-- 河北快三 -->
    <add key="opencai.HEBEIK3" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=hebk3"/>
    <!-- 上海快三 -->
    <add key="opencai.SHK3" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=shk3"/>
    <!-- 湖北快三 -->
    <add key="opencai.HBK3" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=hubk3"/>

    <!-- 11选五系列-->
    <!-- 江苏11选5 -->
    <add key="opencai.JS11x5" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=js11x5"/>
    <!-- 山东11选5 -->
    <add key="opencai.SD11x5" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=sd11x5"/>
    <!-- 广东11选5 -->
    <add key="opencai.GD11x5" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=gd11x5"/>
    <!-- 山西11选5 -->
    <add key="opencai.SX11x5" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=sxr11x5"/>

    <!-- 北京PK10 -->
    <add key="opencai.PK10" value="http://a.apiplus.net/newly.do?token=ea8d49d9151643a7&amp;code=bjpk10"/>

    <!-- 幸运飞艇 -->
    <add key="opencai.Boat" value="http://a.apiplus.net/newly.do?token=cc45e81680204f77&amp;code=mlaft"/>
    
    <!-- 六合彩 -->
    <add key="opencai.MarkSix" value="http://d.apiplus.net/newly.do?token=cb6f381247362dbf&amp;code=hk6"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
