<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Handler-Mobile" patternSyntax="Wildcard" stopProcessing="true">
          <match url="handler/*" />
          <action type="Rewrite" url="http://localhost:21000/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>

