<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 类型 MY18或者KHB-->
    <add key="type" value="KHB"/>
    <!-- mdb文件路径 -->
    <add key="mdb" value="F:\2016\BetWin 2.0\Tools\MY18\App_Data\payData.db"/>
    <!-- 密钥，与后台设置保持一致 -->
    <add key="key" value="40042114"/>
    <!-- 远程网关 -->
    <add key="gateway" value="http://localhost/handler/payment/MY18" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
