<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Old" connectionString="server=183.131.220.3,44333;uid=uBetWin;pwd=Qv5TpNT1MPci5GNh;database=YFYFWin;" />
    <add name="New" connectionString="server=45.114.171.174,44333;uid=uBetWin;pwd=n3kMm3DWJ5M3Q81B;database=BetWin 2.0;" />
  </connectionStrings>
</configuration>