<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=.\SQLEXPRESS;uid=uBetWin;pwd=CNY1000000;database=BetWin 2.0;" />
  </connectionStrings>
  <appSettings>
    <!-- 图片服务器路径 -->
    <add key="imgserver" value="http://img.ayl.ag" />
  </appSettings>
</configuration>