<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=(local);uid=uBetWin;pwd=CNY1000000;database=BetWin 2.0;"/>
  </connectionStrings>
  <appSettings>
    <add key="imgserver" value="http://img.ayl.ag" />
    <add key="handlerserver" value="http://localhost:21000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <sessionState cookieName="uid" mode="InProc"/>
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" targetFramework="4.5" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ServiceHandler" type="BW.IM.ServiceHandler" path="/service" verb="*"/>
    </handlers>
    <modules>
      <add name="IMModule" type="BW.IM.Framework.IMModule"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, x-request, Content-Type, Accept"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="X-UA-Compatible" value="chrome=1"/>
        <add name="X-Powered-By" value="node.js"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
