<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=(local);uid=uBetWin;pwd=CNY1000000;database=BetWin 2.0;"/>
  </connectionStrings>
  <appSettings>
    <add key="agPath" value="F:\2017\BetWin 2.0\Publish\GameLog\xa.gdcapi.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
