<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=(local);uid=uBetWin;pwd=CNY1000000;database=BetWin 2.0;"/>
    <add name="SNAPConnection" connectionString="server=(local);uid=uBetWin;pwd=CNY1000000;database=BetWin_SNAP;"/>
  </connectionStrings>
  <appSettings>
    <add key="platform" value="BetWinService"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
